<% layout('/layout/boilerplate') -%>


<body>
   
    <style>
      #filters {
        display: flex;
      flex-wrap: wrap;
      }

      .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
      }

      .filter:hover{
        opacity: 1;
        cursor: pointer;

      }
      .filter p{
        font-size: 0.8rem;
      }

      #tax-info{
        display: none;
        color: black;
      }

      .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 5rem;
        margin-top: 1.85rem;
        display: flex;
        align-items: center;
      }
    </style>

    <div id="filters">
      <div class="filter">

        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Rooms</p>
      </div>
    <div class="filter">

      <i class="fa-solid fa-fire"></i>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-mountain"></i>
            <p>Mountains</p>
    </div>
    <div class="filter">

      <i class="fa-solid fa-fire"></i>
      <p>Trending</p>
    </div>
    <div class="filter">
      <i class="fa-brands fa-fort-awesome"></i>
          <p>Castles</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-person-swimming"></i>      
          <p>Amazing Pools</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-tents"></i>          <p>Camping</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-tractor"></i>
                <p>Farms</p>
    </div>
    <div class="filter">
      <i class="fa-solid fa-snowflake"></i>  <p>Arctic pools</p>
    </div>
   
<div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
    </div>
  </div>
  </div>

    <div class="row row-cols-lg-5  row-cols-md-3 row-cols-sm-2 row-cols-1-sm-1 mt-3">
        <% for(let listing of listings){ %>
            

            <div class="card" style="width: 20rem;">
                <a href="/listings/<%=listing._id %>" class="card-link">
                <!-- <img src="<%= listing.image  %>" class="card-img-top" alt="listing_image" style="height: 20rem;" -->
                
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">

                

                <div class="card-body">
                  
                  <p class="card-text"><%= listing.title %>
                  </a>
                <br>
                <%= listing.price && !isNaN(listing.price) ? "₹" + listing.price.toLocaleString("en-IN") : "₹0" %>/ night
                
                <span class="tax-info" style="display: none;"> +18% GST </span>

        
                
            </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

                </div>
                </a>
              </div>
              
              <% } %>
    </div>
    <script>
      

      
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");  
  taxSwitch.addEventListener("click", () => {
    console.log("clicked");
    let taxInfoElements = document.querySelectorAll(".tax-info");

    taxInfoElements.forEach(info => {
      info.style.display = (info.style.display !== "inline") ? "inline" : "none";
    });
  });


    </script>
</body>
</html>


